body {
  margin:0px;
  background-color:rgba(51, 51, 51, 1);
  background-image:none;
  position:static;
  left:auto;
  width:2096px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:750px;
  height:1334px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u19 {
  position:absolute;
  left:349px;
  top:82px;
  width:750px;
  height:1334px;
}
#u20 {
  position:absolute;
  left:2px;
  top:659px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u21 {
  position:absolute;
  left:393px;
  top:358px;
  width:50px;
  height:50px;
}
#u22 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u23 {
  position:absolute;
  left:467px;
  top:370px;
  width:62px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:63px;
}
#u25 {
  position:absolute;
  left:401px;
  top:1306px;
  width:64px;
  height:63px;
}
#u26 {
  position:absolute;
  left:2px;
  top:24px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u27 {
  position:absolute;
  left:403px;
  top:1374px;
  width:62px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u29 {
  position:absolute;
  left:1010px;
  top:154px;
  width:32px;
  height:32px;
}
#u30 {
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:63px;
}
#u32 {
  position:absolute;
  left:681px;
  top:1306px;
  width:58px;
  height:63px;
}
#u33 {
  position:absolute;
  left:2px;
  top:24px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u35 {
  position:absolute;
  left:660px;
  top:1372px;
  width:141px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:62px;
}
#u38 {
  position:absolute;
  left:961px;
  top:1308px;
  width:64px;
  height:62px;
}
#u39 {
  position:absolute;
  left:2px;
  top:23px;
  width:60px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u40 {
  position:absolute;
  left:938px;
  top:1370px;
  width:116px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  word-wrap:break-word;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u42 {
  position:absolute;
  left:349px;
  top:1296px;
  width:750px;
  height:1px;
}
#u43 {
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:42px;
}
#u44 {
  position:absolute;
  left:393px;
  top:154px;
  width:50px;
  height:42px;
}
#u45 {
  position:absolute;
  left:2px;
  top:13px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:42px;
}
#u47 {
  position:absolute;
  left:963px;
  top:79px;
  width:65px;
  height:42px;
}
#u48 {
  position:absolute;
  left:2px;
  top:13px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:42px;
}
#u49 {
  position:absolute;
  left:1035px;
  top:83px;
  width:47px;
  height:42px;
}
#u50 {
  position:absolute;
  left:2px;
  top:13px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u51 {
  position:absolute;
  left:377px;
  top:89px;
  width:109px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u53_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u53 {
  position:absolute;
  left:660px;
  top:89px;
  width:109px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  word-wrap:break-word;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:42px;
}
#u55 {
  position:absolute;
  left:911px;
  top:79px;
  width:43px;
  height:42px;
}
#u56 {
  position:absolute;
  left:2px;
  top:13px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:32px;
}
#u57 {
  position:absolute;
  left:862px;
  top:89px;
  width:33px;
  height:32px;
}
#u58 {
  position:absolute;
  left:2px;
  top:8px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u59 {
  position:absolute;
  left:349px;
  top:123px;
  width:750px;
  height:1px;
}
#u60 {
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u61 {
  position:absolute;
  left:1002px;
  top:252px;
  width:40px;
  height:40px;
}
#u62 {
  position:absolute;
  left:2px;
  top:12px;
  width:36px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_div {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  height:655px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u63 {
  position:absolute;
  left:1270px;
  top:203px;
  width:826px;
  height:655px;
  color:#FFFFFF;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:826px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:45px;
}
#u66 {
  position:absolute;
  left:1248px;
  top:134px;
  width:44px;
  height:45px;
  font-size:36px;
}
#u67 {
  position:absolute;
  left:2px;
  top:2px;
  width:40px;
  word-wrap:break-word;
}
#u68_div {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u68 {
  position:absolute;
  left:1302px;
  top:134px;
  width:150px;
  height:45px;
  font-size:28px;
  color:#FFFFFF;
  text-align:center;
}
#u69 {
  position:absolute;
  left:0px;
  top:6px;
  width:150px;
  word-wrap:break-word;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u70 {
  position:absolute;
  left:350px;
  top:217px;
  width:750px;
  height:1px;
}
#u71 {
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:751px;
  height:2px;
}
#u72 {
  position:absolute;
  left:350px;
  top:315px;
  width:750px;
  height:1px;
}
#u73 {
  position:absolute;
  left:2px;
  top:-8px;
  width:746px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u74 {
  position:absolute;
  left:377px;
  top:240px;
  width:50px;
  height:50px;
}
#u75 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u76 {
  position:absolute;
  left:467px;
  top:258px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u77 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u79 {
  position:absolute;
  left:393px;
  top:474px;
  width:50px;
  height:50px;
}
#u80 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u81 {
  position:absolute;
  left:467px;
  top:486px;
  width:62px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u84 {
  position:absolute;
  left:393px;
  top:586px;
  width:50px;
  height:50px;
}
#u85 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u86 {
  position:absolute;
  left:467px;
  top:598px;
  width:62px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u89 {
  position:absolute;
  left:393px;
  top:706px;
  width:50px;
  height:50px;
}
#u90 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u91_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u91 {
  position:absolute;
  left:467px;
  top:718px;
  width:62px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u93_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u93 {
  position:absolute;
  left:539px;
  top:370px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u95_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u95 {
  position:absolute;
  left:539px;
  top:486px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u97_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u97 {
  position:absolute;
  left:539px;
  top:598px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u99_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u99 {
  position:absolute;
  left:539px;
  top:718px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u101_div {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u101 {
  position:absolute;
  left:350px;
  top:860px;
  width:171px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u102 {
  position:absolute;
  left:0px;
  top:-3px;
  width:171px;
  word-wrap:break-word;
}
#u103_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u103 {
  position:absolute;
  left:997px;
  top:859px;
  width:103px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  text-align:center;
}
#u104 {
  position:absolute;
  left:0px;
  top:-3px;
  width:103px;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u105 {
  position:absolute;
  left:393px;
  top:934px;
  width:50px;
  height:50px;
}
#u106 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u107 {
  position:absolute;
  left:493px;
  top:943px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u109 {
  position:absolute;
  left:393px;
  top:1007px;
  width:50px;
  height:50px;
}
#u110 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u111 {
  position:absolute;
  left:493px;
  top:1016px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u112 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u113 {
  position:absolute;
  left:393px;
  top:1083px;
  width:50px;
  height:50px;
}
#u114 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u115 {
  position:absolute;
  left:493px;
  top:1092px;
  width:475px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:25px;
}
#u116 {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u117 {
  position:absolute;
  left:961px;
  top:938px;
  width:35px;
  height:35px;
}
#u118 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u119 {
  position:absolute;
  left:961px;
  top:1012px;
  width:35px;
  height:35px;
}
#u120 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:35px;
}
#u121 {
  position:absolute;
  left:961px;
  top:1087px;
  width:35px;
  height:35px;
}
#u122 {
  position:absolute;
  left:2px;
  top:10px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
}
#u123 {
  position:absolute;
  left:997px;
  top:1188px;
  width:70px;
  height:70px;
}
#u124 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
